:root {
  /* Paleta Minimalista */
  --color-primary: #007bff; /* Azul (Ação/Botões) */
  --color-success: #28a745; /* Verde (Sucesso/Cadastro) */
  --color-danger: #dc3545; /* Vermelho (Erros/Deletar) */
  --color-warning: #ffc107; /* Amarelo (Admin/Alerta) */
  --color-text: #333333;
  --color-background: #ffffff;
  --color-light-gray: #f8f8f8;
  --color-border: #cccccc;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color: var(--color-text);
  background-color: var(--color-background);

  /* Reset */
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: none;
}
a:hover {
  color: #0056b3;
}